[user]
	email = s.isozaki.dev@gmail.com
	name  = Shunsuke Isozaki
[core]
	editor = vim -c \"set fenc=utf-8\"
	precomposeunicode = true
	quotepath = false
[color]
	diff = auto
	status = auto
	branch = auto
